body{
    font-family: 'Nanum Brush Script', cursive;
    background-color: 		#1A89A7;
    background-image: url("../images/natural-paper.png");
    color: rgb(252, 158, 35);
}
.bgImg {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/toon-bg.jpg");
    background-size: cover;
    background-repeat: none;
  }
.btnRow{
    padding: 5px 15px 20px 15px;
}
.toonBtn{
    margin: 5px 5px 5px 5px;
    background-color: rgb(252, 158, 35);
    color: black;
    font-family: 'Permanent Marker', cursive;
    opacity: 0.9;
    font-size: 1.2em;
}
.panel{
    font-size: 1.5em;
    background-color:	#35759B;
    background-image: url("../images/clean-gray-paper.png");
    font-size: 1.8em;
}
.gif{
    max-height: 125px;
}
#gifPanel{
    margin: 0px auto;
}
.lineBreak{
    border: 2px solid black;
}
#search{
    width: 70%;
    border: 1px solid rgb(252, 158, 35);
}
#submitBtn{
    background-color: rgb(252, 158, 35);
    color: black;
    font-family: 'Permanent Marker', cursive;
}