body{
    font-family: 'Nanum Brush Script', cursive;
    background-image: url("../images/toon-bg.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.toonBtn{
    margin: 5px 5px 5px 5px;
    background-color: rgb(252, 158, 35);
    color: black;
    font-family: 'Permanent Marker', cursive;
    opacity: 0.9;
}
.panel{
    font-size: 1.5em;
}
.gif{
    margin-bottom: 10px;
}
.lineBreak{
    border: 1px solid black;
}